.mainWrapper {
    display: block;
    width: 100%;

    .mainContent {
        width: 100%;
        max-width: 1000px;
        margin: 15px auto;
        padding: 0 15px;
        color: #1d1d1f;
    }
}