.addCoinCnt {
    display: inline-block;
    border: 2px solid #000;
    font-size: 100px;
    line-height: 1;
    padding: 34px 60px;
    cursor: pointer;
}

.MuiOutlinedInput-notchedOutline {
    border-color: #000 !important;
}

.Mui-focused,
.MuiInputLabel-animated {
    color: #000 !important;
}