.mainWrapper {
    display: block;
    width: 100%;

    .mainContent {
        max-width: 1000px;
        margin: 15px auto;
        color: #1d1d1f;
        padding: 0 15px;
    }
}

.paddingHorizontal {
    padding: 0 15px;
}

.paddingVertical {
    padding: 15px 0;
}

.paddingBoth {
    padding: 15px;
}